body {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: right;
}

.display-picture {
    border-radius: 50%;
}
