body {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background: #e9dddd;
    color: #00332b;
    font-family: 'Open Sans', sans-serif;
}

.site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: right;
}

.code {
    font-family: 'Fira Mono', monospace;
}

.display-picture {
    border-radius: 50%;
}
