/*
peach:     fdaea1
pink:      fc869a
yellow:    fef2b6
blue:      0180cf
grey:      8ca3bd
 */

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background: #0180cf;
    color: #3c5a5b;
    font-family: 'Open Sans', sans-serif;
    background-image: url("../Images/john-fowler-aaIN3y2zcMQ-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.site-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: right;
    background-size: cover;
    background:
}

.background-container {

}

.code {
    font-family: 'Fira Mono', monospace;
}

.display-picture {
    border-radius: 50%;
}
