body {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background: #e9dddd;
    color: #3c5a5b;
    font-family: 'Open Sans', sans-serif;
    background-image: url("../Images/jerry-zhang-FIrHUn3GI4A-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.site-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: right;
    background-image: url("../Images/jenny-caywood-HVDGuo36s6k-unsplash.jpg");
    background-size: cover;
}

.background-container {

}

.code {
    font-family: 'Fira Mono', monospace;
}

.display-picture {
    border-radius: 50%;
}
